* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.h1 {
	font-size: 1.25rem;
	font-weight: 500;
}

.text-center {
	text-align: center;
}

.tasks-container {
	min-width: 30rem;
}
